<!--ensures distance from edge on wide screens-->
<div>
  <!--ensures minimum distance from edge on small screens-->
  <div>
    <section id="bio">
      <h1>>jane_</h1>
      <p>
        cs student at psu
        <br />
        occasionally makes games and stuff
        <br />
        swimming and hiking
        <br />
        extremely online
        <br />
        sometimes plays overwatch
        <br />
      </p>
    </section>

    <section>
      <h1>Content!</h1>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. In in gravida
        orci. Morbi tincidunt velit non nisi dapibus, ac ullamcorper nibh
        sagittis. Ut semper venenatis iaculis. Donec purus quam, blandit euismod
        sagittis eu, sagittis non ante. Aenean elementum tellus non dui ultrices
        ornare aliquam in sem. Duis id ornare quam, vitae
        <img class="right" src="http://placekitten.com/200" />
        lobortis sapien. Suspendisse aliquet risus risus, sit amet laoreet urna
        tincidunt rhoncus. Suspendisse at tortor sit amet arcu ornare sagittis
        id quis orci. Fusce vestibulum purus sed elit aliquet tristique. Donec
        venenatis justo vitae semper suscipit. Suspendisse et cursus ex. In et
        velit felis. Nam ut erat lacus.
      </p>
      <h2>Wow!</h2>
      <p>
        Mauris risus lacus, mollis vitae tempus quis, iaculis in sem. Vestibulum
        quis ante sodales, iaculis tortor tempor, egestas metus. Nunc id lorem
        augue. Class aptent taciti sociosqu ad litora torquent per conubia
        nostra, per inceptos himenaeos. Pellentesque nunc risus, commodo sit
        amet consequat at, luctus sit amet arcu. Phasellus in tortor cursus,
        fermentum dolor nec, fringilla erat. Praesent lacinia nisi vel lacus
        pellentesque consectetur sit amet at augue.
        <img class="left" src="http://placekitten.com/200" />
        Pellentesque vitae eros metus. Donec at porta justo, vel feugiat tortor.
        Vestibulum nec dolor elit. Etiam quis ullamcorper augue. Morbi
        elementum, est eu mollis accumsan, velit elit luctus ante, a pulvinar
        turpis nulla dignissim enim. Integer ac justo vitae lectus bibendum
        vehicula. Maecenas eleifend sit amet est a pulvinar. Vivamus quis mauris
        tincidunt, laoreet ipsum ut, blandit urna. Nunc eget lectus mauris.
      </p>
    </section>
  </div>
</div>
