<link rel="stylesheet" href="/css/projects.css" />
<div id="projects">
  <section>
    <h1>Under Development</h1>
    <div>
      <img class="float-left" src="img/unknown.png" alt="Question Mark" />
      <h2>UTTT</h2>
      <p>Ultimate Tic Tac Toe in the browser, featuring asynchronous multiplayer</p>
      <p>
        Github (coming soon)
      </p>
    </div>
  </section>
  <section class="align-right">
    <h1>Personal Projects</h1>
    <div>
      <img class="float-right" src="img/vk.png" alt="Code Screenshot" />
      <h2>2D Vulkan Renderer</h2>
      <p>A (very) basic 2D sprite renderer</p>
      <p>
        <a href="https://gitlab.com/heartles/vk" aria-label="VK Gitlab">Gitlab</a>
      </p>
    </div>
  </section>
  <br />
  <section class="">
    <h1>Collaborative Projects</h1>
    <div>
      <img class="float-left" src="img/gebeo.png" alt="GeBeO Logo" />
      <h2>GeBeO</h2>
      <p>A discord bot written in TypeScript</p>
      <p>
        <a href="https://gitlab.com/greaterthanblank/gebeo" aria-label="GeBeO Gitlab">Gitlab</a>
      </p>
    </div>
  </section>

  <section>
    <h1>Old Projects (very bad, mostly unfinished, do not look)</h1>
    <ul>
      <li>
        <a href="old-projects/popc.html">Popular Culture SINQ Project</a>, Spring 2018
        <p>
          A short, overly pretensious, interactive fiction game written with Twine
        </p>
      </li>
      <li>
        <a href="old-projects/fff2.html">Fast Food Fight II</a>, last updated July 16th 2017
        <p>
          A top down shooter written in GameMaker Studio 2
        </p>
      </li>
      <li>
        <a href="https://github.com/heartles/projectrussell-cpp">Project Russell</a>
        <p>
          An attempt to write a turn-based strategy in C++. A lot of the lessons
          learned here went into the Vulkan renderer above, though I haven't had
          the chance to apply some of those lessons.
        </p>
      </li>
    </ul>
  </section>
</div>