<link rel="stylesheet" href="/css/projects.css" />
<div id="projects">
  <section>
    <h1>Under Development</h1>
    <div>
      <img class="float-left" src="img/unknown.png" />
      <h2>UTTT</h2>
      <p>Ultimate Tic Tac Toe in the browser</p>
      <p>
        <a href="#">Github</a> (coming soon)
      </p>
    </div>
  </section>
  <section class="align-right">
    <h1>Personal Projects</h1>
    <div>
      <img class="float-right" src="img/vk.png" />
      <h2>2D Vulkan Renderer</h2>
      <p>A (very) basic 2D sprite renderer</p>
      <p>
        <a href="https://gitlab.com/heartles/vk">Gitlab</a>
      </p>
    </div>
  </section>
  <br />
  <section class="">
    <h1>Collaborative Projects</h1>
    <div>
      <img class="float-left" src="img/gebeo.png" />
      <h2>GeBeO</h2>
      <p>A discord bot written in TypeScript</p>
      <p>
        <a href="https://gitlab.com/greaterthanblank/gebeo">Gitlab</a>
      </p>
    </div>
  </section>
</div>