* {
  font-family: sans-serif;
  font-size: 1.1em;
  color: #333;
}

/* The accent color used is #008080 */

.navbar {
  list-style-type: none;
  margin-top: 40px;
}

.navbar li {
  float: left;
  margin-top: 0px;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 20px;
}

.navbar a {
  text-decoration: none;
  padding: 5px;
}

.navbar a:hover {
  color: #008080;
}

.navbar a:focus {
  color: #008080;
  border-width: 0px 0px 5px 0px;
  border-style: solid;
  outline: none;
}

.navbar a:active {
  color: #008080;
}
