body {
  background-color: #bbb;
}

.navbar {
  background-color: #222;
  margin: 0;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  color: #bbb;
  font-family: monospace;
  font-size: 150%;
  max-height: 75px;
}

.navbar .name {
  float: left;
  margin: 20px;
  font-weight: bold;
}

.navbar ul {
  float: right;
  margin: 0;
}

.navbar li {
  list-style: none;
  float: left;
  margin: 0;
}

.navbar button {
  border: none;
  padding: 20px;
  height: 100%;
  font-family: inherit;
  background-color: inherit;
  color: inherit;
}

.navbar button:hover {
  background-color: #333;
}

.navbar a {
  color: #bbb;
}

.icon-wrapper {
  padding: 18px 40px;
  margin: 20px;
}

.icon-wrapper i {
  font-size: 21px;
}

.mobile-only {
  display: none;
}

@media screen and (max-width: 700px) {
  .mobile-only {
    display: initial;
  }

  .navbar .name {
    float: none;
  }

  .navbar ul {
    display: none;
    float: initial;
  }

  .navbar li {
    float: initial;
    display: block;
  }

  .navbar {
    max-height: unset;
  }

  .navbar .hamburger {
    position: absolute;
    top: 0;
    right: 0;
  }

  .hamburger i {
    font-size: 20px;
  }

  .navbar .open-menu {
    display: block;
  }

  .navbar .icon-wrapper {
    padding: 12px 20px 20px;
  }
}
